* /*{
  outline: 1px limegreen solid !important;
}*/

.container {
  grid-template-columns: 12rem 1fr;

  grid-template-areas:
    "sidebar navbar"
    "sidebar content";

  gap: 0 1.8rem;
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: content;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "announcements announcements";
}

main .ann-header {
  grid-area: header;
}

main .ann-header h1 {
  margin: 0;
  text-align: center;
}

main .ann-container {
    height: fit-content;
}

main .ann-grid {
  grid-area: announcements;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.8rem;
}

.right-section {
  grid-area: navbar;
}

aside .sidebar a.active {
  border-radius: 0;
}

@media (max-width: 1230px) {
  .container {
    grid-template-columns: 5rem 1fr 1fr;
  }
}
