@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: url('KLD BG.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Container */
.wrapper {
    position: relative;
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 80px 80px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .wrapper header {
  font-size: 2rem;
  color: #333;
  font-weight: 800;
  text-align: center;
  }


/* FOR RADIO BUTTON */
  .form .role-box {
    margin-top: 20px;
  }
  .role-box h3 {
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .form :where(.role-option, .type) {
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }
  .form .type {
    column-gap: 5px;
  }
  .type input {
    accent-color: green;
  }
  .form :where(.type input, .type label) {
    cursor: pointer;
  }
  .type label {
    color: #454a47;
  }
   
/* CIRCLE AND LINE */
.circle-line {
        position: relative;
        display: flex;
        align-items: center;
    }

.line {
    flex: 1;
    border: 2px solid #000;
    height: 0; 
    position: relative;
    z-index: 1; 
    }

.circle {
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    position: absolute;
    z-index: 2; 
    }

.circle:nth-child(1) {
        left: 0%; 
        background-color: green;
    }

.circle:nth-child(2) {
        left: 50%; 
        transform: translateX(-50%); 
        background-color: #000;
    }

 .circle:nth-child(3) {
        right: 0%; 
        background-color: #000;
    }

.wrapper .btn {
    width: 200px;
    height: 45px;
    margin-top: 20px;
    background-color: white;
    border: 2px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    color: #060505;
    font-weight: 600;
    transition: all 0.2s ease;
      }

.btn:hover {
    background-color: green;
}

.wrapper .button {
color: #060505;

}
/*Responsive*/
@media screen and (max-width: 500px) {
    .form {
      flex-wrap: wrap;
    }
}