/* Nav */
.selected {
    /* font-size: 1rem; */
    font-weight: 600;
    color: var(--color-green);
    padding-left: 0.5rem;
    border-left: 5px solid var(--color-green);
}

/* Table */
.orig-container {
    grid-template-columns: 12rem 1fr;
}

.grid-table-container {
    overflow-x: auto;
}

.jsgrid-cell {
    word-wrap: break-word;
    
}

.jsgrid-filter-row .jsgrid-cell {
    background: var(--color-background);
}

.jsgrid-cell input[type="text"] {
    background: var(--color-white);
    color: var(--color-black);
}

.jsgrid-row td.jsgrid-cell {
    background: var(--color-white);
}

.jsgrid-alt-row td.jsgrid-cell {
    background: var(--color-background);
}

.jsgrid-selected-row > .jsgrid-cell {
    background: #c4e2ff !important;
    border-color: #c4e2ff !important;
}

th.jsgrid-header-cell {
    background: var(--color-background) !important;
}

.jsgrid-nodata-row .jsgrid-cell {
    background: var(--color-white);
}

/* Input Button */
div.flex {
    margin-top: 1rem;
    justify-content: center;
}

input#file-upload-button {
    background: var(--color-white);
}

.btn-block {
    max-width: 15rem;
    margin-top: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

/* Help */
.card {
    background: var(--color-white);
    margin: 3rem auto; 
    width: 50%
}

blockquote {
    background: var(--color-white);
}

blockquote p,
blockquote small {
    color: var(--color-black);
}

/* Table Button */
.restore {
    background: transparent;
}

@media screen and (min-width: 772px) {
    .right-section {
        display: none;
    }

    /* Table */
    
}

@media screen and (max-width: 1230px) {
    .orig-container {
        grid-template-columns: 5rem 1fr;
    }
}